[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/avielb
[access "refs/for/refs/*"]
	read = group user/avielb
	push = group user/avielb
	label-Code-Review = -2..+2 group user/avielb
	label-Verified = -1..+1 group user/avielb
	rebase = group user/avielb
	removeReviewer = group user/avielb
	submit = group user/avielb
[access "refs/heads/*"]
	read = group user/avielb
	create = group user/avielb
	push = +force group user/avielb
	pushMerge = group user/avielb
[access "refs/tags/*"]
	push = group user/avielb
	push = +force group user/avielb
